<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div id="posts-container" *ngIf="posts.length > 0">
  <mat-card class="post-card" *ngFor="let post of posts">
    <!-- post header -->
    <div class="post-header">
      <div class="post-author-header">
        <img class="profile-pic-icon" [src]="post.profile_pic" alt="">
        <h4 style="font-weight: bold;">{{post.author}}</h4>
      </div>
      <button mat-button color="basic" (click)="onPostOptionsClicked(post.id? post.id: null)"><mat-icon>more_vert</mat-icon></button>
    </div>

    <h4 *ngIf="post.title != null && post.title !=''">
      {{post.title}}
    </h4>
    <div class="post-image-container">
      <img class="post-image" [src]="post.post_img" alt="">
    </div>
    <app-form-descriptions [description]="post.post_description"></app-form-descriptions>
  </mat-card>
</div>

<mat-card *ngIf="posts.length <= 0" style="width: 80%; margin: auto; margin-top: 3rem; background: gray; color: white;">
  <h4 id="no-post-warning-text">
    Looks like there is no posts yet...
  </h4>
</mat-card>

<!-- <p *ngFor="let post of posts">{{devStringify(post)}}</p> -->


