<mat-card style="width: 80%; margin: auto;">
  <h4>Create a post</h4>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="postTitleText" type="text" style="width: 100%;">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="postDescriptionAreaText" style="width: 100%;"></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="OnPostClicked()">Post</button>
</mat-card>


<h4>shows posts:</h4>
<h5>post description:</h5>
<p>{{submittedPostDescriptionText}}</p>
