<h2 mat-dialog-title>Options</h2>


<div mat-dialog-content style="display: flex; flex-direction: column;">
  <button mat-button color="basic" (click)="onGoToPostClick()">Go To Post</button>
  <mat-divider></mat-divider>
  <button mat-button color="basic" (click)="onEditClick()">Edit</button>
  <mat-divider></mat-divider>
  <button mat-button color="warn" (click)="onDeleteClick()">Delete</button>
</div>

<!--
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
